extends ../layout

block head
  title= title
  script.
    function handleSubmit(event) {
      event.preventDefault();
      console.log('search!');
    }

block content
  div.container 
    h1 
      a(href="/") Books 
    div.header-actions 
      a.button(href="/books/new") Create New Book
      form.search-form(action="/books/search/page/1", method="GET")
        input.search-input(type="text", name="query", placeholder="Search for books..." required)
        input.search-button(type="submit" value="Search")
    if rows.length === 0
      include no-results
    else
      table
        thead
          tr 
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in rows
            tr
              td
                a(href=`/books/${book.dataValues.id}`) #{book.dataValues.title}
              td #{book.dataValues.author}
              td #{book.dataValues.genre}
              td #{book.dataValues.year}
      .pagination
        if page > 1
          if query
            a(href=`/books/${currentPath}/${page - 1}?query=${query}`) Previous
          else
            a(href=`/books/${currentPath}/${page - 1}/`) Previous
        else
          span Previous 

        each num in [...Array(totalPages).keys()].map(n => n + 1)
          if num === page
            span= num
          else
            if query
              a(href=`/books/${currentPath}/${num}?query=${query}`)= num
            else
              a(href=`/books/${currentPath}/${num}/`)= num

        if page < totalPages
          if query
            a(href=`/books/${currentPath}/${page + 1}?query=${query}`) Next
          else
            a(href=`/books/${currentPath}/${page + 1}/`) Next
        else
          span Next 
